<div class="container-fluid">
    <h1>Bootcamp enrollment form</h1>
    <form action="" #userForm="ngForm" novalidate (ngSubmit)="onSubmit()">
     {{userForm.value | json}}
      <hr>
      <pre>
        {{userModel | json}}
      </pre>
      <div class="form-group">
        <pre>
          {{name.className| json}} 
        </pre>
        
        <label for="">Name</label>
        <input type="text" name="username" id="" class="form-control" [(ngModel)]="userModel.name" #name/>
      </div>
      <div class="form-group">
        <label for="">Email</label>
        <input type="email" name="email" id="" class="form-control" [(ngModel)]="userModel.email"/>
      </div>
  
      <div class="form-group">
        <label for="">Phone</label>
        <input type="tel" name="phoneId" id="" class="form-control" [(ngModel)]="userModel.phone"/>
      </div>
      <div class="form-group">
        <select name="course" id="" class="custom-select" [(ngModel)]="userModel.course" required #course="ngModel">
          <option selected>Please select one</option>
          <option *ngFor="let topic of topics">{{ topic }}</option>
        </select>
  
        {{course |json}}
      </div>
      <div class="mb-3">
        <label for=""> Time preference </label>
        <div class="form-check">
          <input
            type="radio"
            name="time-preference"
            id=""
            class="form-check-input"
            value="morning" ngModel=""
          />
          <label for="" class="form-check-label">Morning (9 AM -12 PM)</label>
        </div>
        <div class="form-check">
          <input
            type="radio"
            name="time-preference"
            id=""
            class="form-check-input"
            value="evening"
            [(ngModel)]="userModel.timePreference"
          />
          <label for="" class="form-check-label">Morning (12 Noon -5 PM)</label>
        </div>
      </div>
  
      <div class="form-check mb-3">
        <input type="checkbox" name="promotion-email" id="" class="form-check-input" ngModel/>
        <label for="" class="form-check-label">Send me promotional offers</label>
      </div>
  
      <button class="btn btn-primary" type="submit">Submit form</button>
    </form>
  </div>