<div class="container">
  <div class="row">
    <div class="col-6">
      <app-product-widget [products]="salesProducts">
        <h1 #header >Feature products</h1>
        <a href="" #header>Visit Store</a>
      </app-product-widget>
    </div>
  </div>

  <div class="row">
      <div class="col-6">
        <app-product-widget [products]="salesProducts">

            <h1 #header > Sales Promotion</h1>
            <a href="" #header >See more</a>
        </app-product-widget> 
      </div>

  </div>
</div>
