

<nav class="navbar navbar-expand-lg"  style="background-color: #e3f2fd">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Home</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link active" aria-current="page" routerLink="tdf">TDF</a>
        <a class="nav-link" routerLink="users">Users</a>
        <a class="nav-link" routerLink="ra">Ra </a>
        <a class="nav-link" routerLink="add-user">Add User</a>
        <a class="nav-link" routerLink="contact">Contact</a>
        <a class="nav-link" routerLink="child">Child</a>
        <a class="nav-link" routerLink="content">Content</a>
        <a class="nav-link" routerLink="tdf-2">TDF-2</a>
        <a class="nav-link" routerLink="ngfor">NgForTable</a>
        <a class="nav-link disabled">Disabled</a>
      </div>
    </div>
  </div>
</nav>

<app-notification-board></app-notification-board>

<h1 class="text-center">{{title | titlecase}}</h1>




<router-outlet></router-outlet>
